.con1{
    height: 100px;
    width: 100px;
    align-items:justify;
    position: relative;
    transform: (50deg);
    animation-name: bha;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 10;
    
   
}
.con2{
    display: inline;
    height: 100px;
    width: 200px;
    border-radius: 50%;
    background-color: blue;
    position: relative;
    animation-name: bhapic;
    animation-duration: 2s;
    animation-iteration-count: 10; 
}
@keyframes bhapic{
    0% { background-color:red; left:0px; top:0px;}
    25% { background-color:yellow; left:200px; top:0px;}
    50% { background-color:aquamarine; left:200px; top:300px;}
    75% { background-color:blue; left:0px; top:300px;}
    100% { background-color:purple; left:0px; top:0px;}
}
@keyframes bha{
    0% { background-color:red; left:0px; top:0px;}
    25% { background-color:yellow; left:200px; top:0px;}
    50% { background-color:aquamarine; left:200px; top:100px;}
    75% { background-color:blue; left:0px; top:100px;}
    100% { background-color:purple; left:0px; top:0px;}
}
@keyframes rat{
    0% { background-color:red; }
    25% { background-color:yellow; }
    50% { background-color:aquamarine;}
    75% { background-color:blue; }
    100% { background-color:purple; }
}
.main {
    background-color:rgb(3, 0, 0);
    border: 1px rgb(6, 5, 5);
}
.box1{
    height:100px;
    width:150px;
    position: fixed;
    top: 400px;
    left: 00px;
    animation-name:rat;
    animation-duration: 2s;
    animation-delay: 21s;
    animation-iteration-count: 10; 

    


}
.box2{
    height:100px;
    width:150px;
    position: fixed;
    top: 400px;
    left: 200px;
    animation-name:rat;
    animation-duration: 2s;
    animation-delay: 21s;
    animation-iteration-count: 10; 
    border:1px red ;
    border-color:red ;
    
}
.box3{
    height:100px;
    width:150px;
    position: fixed;
    top: 510px;
    left: 00px;
    border:1px red ;
    border-color:red ;
    animation-name:rat;
    animation-duration: 2s;
    animation-delay: 21s;
    animation-iteration-count: 10; 
   

}
.box4{
    height:100px;
    width:150px;
    position: fixed;
    top: 510px;
    left: 200px;
    border:1px red ;
    border-color:red ;
    animation-name:rat;
    animation-duration: 2s;
    animation-delay: 21s;
    animation-iteration-count: 10; 
    

}
.box5{
    height:100px;
    width:150px;
    position: fixed;
    top: 620px;
    left: 00px;
    border:1px red ;
    border-color:red ;
    animation-name:rat;
    animation-duration: 2s;
    animation-delay: 21s;
    animation-iteration-count: 10; 
   
}
.box6{
    height:100px;
    width:150px;
    position: fixed;
    top: 620px;
    left: 200px;
    border:1px red ;
    border-color:red ;
    animation-name:rat;
    animation-duration: 2s;
    animation-delay: 21s;
    animation-iteration-count: 10; 
   

}
.box7{
    height:100px;
    width:150px;
    position: fixed;
    top: 730px;
    left: 00px;
    border:1px red ;
    border-color:red ;
    animation-name:rat;
    animation-duration: 1s;
    animation-delay: 21s;
    animation-iteration-count: 10; 
   
}
.box8{
    height:100px;
    width:150px;
    position: fixed;
    top: 730px;
    left: 200px;
    border:1px red ;
    border-color:red ;
   

}
